@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Kufi+Arabic&display=swap");

body {
  margin: 0;
  font-family: "Noto Kufi Arabic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100vw;
  padding: 0 55px;
  box-sizing: border-box;
}

/** color scheme: #4C4B16 , #898121 , #E7B10A , #F7F1E5 **/
